<h1>Tenders Location</h1>
<div class="container">
  <div class="row justify-content-around">
    <div class="card">
      <img src="img_avatar.png" alt="Picture" style="width:100%">
      <div class="container">
        <h4><b>First Tender</b></h4>
        <p>Orange Jiuce</p>
      </div>
    </div>
    <div class="card">
      <img src="img_avatar.png" alt="Picture" style="width:100%">
      <div class="container">
        <h4><b>Second Tender</b></h4>
        <p> Bordeaux Red Wine</p>
      </div>
    </div>
    <div class="card">
      <img src="img_avatar.png" alt="Picture" style="width:100%">
      <div class="container">
        <h4><b>Third Tender</b></h4>
        <p>IPA MadDog</p>
      </div>
    </div>
  </div>
</div>
