<div class="container">
  <h1><strong>Tonic Water</strong></h1>
  <h2>View details of tender</h2>
</div>



<div class="container">
  <div class="row">
    <div class="col-8">
      <p>Ping Pong Bar</p>
      <p>We are a trendy bar in East London</p>
      <h3>Deal Size : £<%=@tender.deal_size%> Months</h3>
      <h3>Deal Length : <%=@tender.deal_length%></h3>
      <h3>End date : <%=@tender.end_date%></h3>
      <h3>Total Bids : <%=@tender.total_bids%></h3>
      <h4>Listing Deal - E.g £500 and 100 T-Shirts</h4>
      <h4  class = "btn btn-primary"> Submit Bid</h4>
    </div>
  </div>
</div>
